.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
}

button {
  margin: 10px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.display-message {
  font-size: 20px;
  font-weight: bold;
  color: #646cff;
  margin-top: 20px;
}
